/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #4c519d;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 13, 16);
}

